*{
    margin: 0;
    padding: 0;

}

.Navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgb(0, 162, 255);
    color: white;
    font-size: 1.5rem;
}

svg{
    margin: 10px;
}
.Navbar-container > p span{
    position: relative;
    top: -15px;
}